
.check {
	border: none;
}
.er {
	text-align: center; 
	color: red; 
	border: 1px solid #990000; 
	background-color: #ffcccc;
	padding: 15px;
	border-radius: 3px;
}
.erok {
	text-align: center; 
	color: #009900; 
	border: 1px solid #006600; 
	background-color: #ccffcc;
	padding: 15px;
	border-radius: 3px;
}
.warn {
	background: #fff;
	border:1px solid #CCCBC9;	
	-moz-box-shadow:0 0 1px 1px #fff inset,inset 0 0 20px 3px rgba(230,226,220,.6);
	-webkit-box-shadow:0 0 1px 1px #fff inset,inset 0 0 20px 3px rgba(230,226,220,.6);
	box-shadow:0 0 1px 1px #fff inset,inset 0 0 20px 3px rgba(230,226,220,.6);
	margin: 6px 0;
	padding: 18px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.warn1 {
	text-align: center; 
	padding-top: 0px;
	padding-bottom: 10px;
	border-radius: 4px;
}

.lineclock {
	border: 1px solid #999999;
	background: url("../images/bgclockline.gif") repeat-x top left #eeeeee;
	border-radius: 3px;
	padding: 0px;
}
.percentline {
	background: url("../images/bgclocklinepercent.gif") repeat-x top left;
	height: 19px;
	margin-top: 0px;
}
input[type="text"], input[type="password"], select {
	height: 32px;
	border-radius: 50px;
	border: 1px solid #999999; 
	font-size: 14px;
	padding-left: 3px;
	background: url(../images/input.gif) repeat-x left top #ffffff;
}
input[type="text"]:focus, input[type="password"]:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


