#content {
	height: auto;
	background-color: #FFF;
	border: #000 solid 1px;
	padding: 10px;
	position: relative;
	min-height: 50px;
	display:block;
	clear:both;
	width: 975px;
}

.top_menu {
	position: relative;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.top_menu_left {
	position:absolute;
	left: 0px;
}

.top_menu_right {
	position:absolute;
	right: 0px;
	text-align: right;
}

.top_menu a {
	border: 1px solid #000;
	padding: 5px;
	text-decoration: none;
	color:#000;
	background-color: #7190aa;
}

.top_menu a:hover {
	color: #FFF;
	background-color: #42576a;
}

#sub_menu {
	width:250px;
	text-align: left;
	max-width: 250px;
	position:relative;
	vertical-align: top;
}

.user {
	width: 100%;
}

#child_content {
	position:relative;
	vertical-align: top;
}

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
	font-size:12px;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(/images/modules/logs/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(/images/modules/logs/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable { background-image: url(/images/modules/logs/treeview-default.gif); background-position: 0 -111px }  
.treeview li.lastExpandable { background-image: url(/images/modules/logs/treeview-default.gif); background-position: -32px -67px }  

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; cursor:pointer }
.filetree span.folder { background: url(/images/modules/logs/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(/images/modules/logs/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(/images/modules/logs/file.gif) 0 0 no-repeat; }

.add_sub {
	background:url(/images/icons/folder_new.gif);
	width: 16px;
	height: 16px;
	min-height: 16px;
	min-width: 16px;
	display:inline-block;
}

.add_item {
	background:url(/images/icons/action_paste.gif);
	width: 16px;
	height: 16px;
	min-height: 16px;
	min-width: 16px;
	display:inline-block;
}

.delete {
	background:url(/images/icons/page_delete.gif);
	width: 16px;
	height: 16px;
	min-height: 16px;
	min-width: 16px;
	display:inline-block;
}
