.top_menu {
	position: relative;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.top_menu_left {
	position:absolute;
	left: 0px;
}

.top_menu_right {
	position:absolute;
	right: 0px;
	text-align: right;
}

.top_menu a {
	border: 1px solid #000;
	padding: 5px;
	text-decoration: none;
	color:#000;
	background-color: #7190aa;
}

.top_menu a:hover {
	color: #FFF;
	background-color: #42576a;
}

.scroller { 
  display:block; 
  position:relative; 
  margin:0; 
  padding:0; 
  background:inherit; 
  color:inherit; 
  overflow:scroll; 
  clear: both;
  max-height: 100px;
  border: 1px solid #ccc; 
}

.data {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  background:inherit; 
  color:inherit; 
}
