<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Imported Rule 1" enabled="true" stopProcessing="true">
					<match url="^((archive/)?(.*\.php(/.*)?))$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{URL}" negate="true" pattern="(admincp/|dbseocp/|modcp/|cron|vbseo_sitemap)" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="dbseo.php" appendQueryString="true" />
				</rule>
				<rule name="Rewrite All" enabled="true" stopProcessing="true">
					<match url="^.*$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" negate="true" pattern="/(admincp|dbseocp|modcp|clientscript|cpstyles|images)/" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="dbseo.php" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>