@charset "utf-8";

html, body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	margin: 0;
	padding: 0;
	background-color: #FFF;
	min-width: 870px;
	width: 100%;
	height: 100%;
}

#table_content {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

#table_content_td {
	text-align: center;
}

#main_block {
	width: 868px;
	min-height: 392px;
	position:relative;
	background-image: url(images/c.gif);
	background-position: top;
	background-repeat: no-repeat;
	display: block;
}

#slogan {
	color: #2ad3fe;
	font-size: 20px;
	font-weight: bold;
	display: block;
	position: absolute;
	right: 85px;
	top: 16px;
}

#text {
	color: #000;
	font-size: 17px;
	font-weight: bold;
	display: block;
	position: absolute;
	right: 30px;
	top: 75px;
	text-align: left;
}

hr {
	height: 1px;
	padding: 0px;
	margin: 5px;
	border:0;
	border-top:1px dotted #ccc;
}