@charset "utf-8";

.reg_input_obligatory {
	border: 1px #333 dashed;
	width: 100%;
	height: 16px;
	padding-left: 12px;
	background-image: url(../images/obligatory16.jpg);
	background-position: left;
	background-repeat: no-repeat;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.reg_input {
	border: 1px #333 dashed;
	width: 100%;
	padding-left: 12px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#question {
	border: 1px #333 dashed;
	width: 100%;
	height: 80px;
	padding: 12px;
}

.reg {
	margin: 0px;
	padding: 0px;
	width: 600px;
}

#check_login {
	border: 1px #333 solid;
	width: 80px;
}

#check_email {
	border: 1px #333 solid;
	width: 80px;
}

#reg_submit{
	border: 1px solid #333;
	width: 100%;
}

#autorize_submit{
	border: 1px solid #333;
	width: 100%;
}

.user {
	width: 100%;
}

.top_menu {
	position: relative;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.top_menu_left {
	position:absolute;
	left: 0px;
}

.top_menu_right {
	position:absolute;
	right: 0px;
	text-align: right;
}

.top_menu_left a {
	border: 1px solid #000;
	padding: 5px;
	text-decoration: none;
	color:#000;
	background-color: #7190aa;
}

.top_menu_left a:hover {
	color: #FFF;
	background-color: #42576a;
}
